.logo{
    margin-left: 20px;
width: 80px;
}

.page-link img{
width: 18px;
}

.col-4{
    margin-bottom:20px;
}

.img-fluid{
     width: 500px;
    height: 300px !important;
}

span.small {
  font-size: smaller;}